<%= t("mailer.salutation") %>

<p><%= t("mailer.new_court_in_my_bar.content1") %></p> 

<table cellspacing="0" cellpadding="0">
<tr>
<td align="center" width="300" height="40" bgcolor="#c0392b" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">


	<%= link_to 'Voir cette opportunité', link_to court_url(@court), :style => "a:link { color:#ffffff; text-decoration: none; }" %>


</td>
</tr>
</table>


<p class="signature">Bien à vous,
	<br>L'Equipe Courts
</p>