<p>Cher Maître,<br>
Cher ex-confrère,</p>

<p>J'espère que vous avez passé un excellent weekend !</p>

<p><b>Ainsi la semaine redémarre, avec son lot d'audiences, se chevauchant parfois.</b></p>

<p>Pourquoi ne pas, dès aujourd'hui, <b>planifier</b> vos audiences de la semaine sur <%= link_to "Courts.be", "http://courts.be" %> ?</p>

<p>Vous pouvez en effet <b>insérer vos audiences des prochains jours</b> afin de ne vous rendre qu'à celles qui requièrent le plus votre présence, <b>ou</b> encore simplement <b>répondre aux demandes de remplacement de vos confrères</b> qui coïncident avec vos propres audiences !</p>

<table cellspacing="0" cellpadding="0"> 
	<tr> 
	  <td align="center" width="320" height="40" bgcolor="#c0392b" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
	    <a href="http://www.courts.be/courts" style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
	    <span style="color: #ffffff;">
	      Trouver un remplaçant sur Courts.be
	    </span>
	    </a>
	  </td> 
  	</tr> 
</table>

<br>

<p>Belle journée,</p>

 
<br>
<p><i>Votre ex-confrère,<br><br>
Laetitia Massa<br>
Fondatrice</i><br>

<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo" height="45" width="100">
</p>