<p>Bonjour Laetitia,</p>

<p>Ceci est un test.</p>

<p>Si cela fonctionne correctement, ça devrait te parvenir à 19h52.</p>

<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo" height="60" width="150">