<div class="container">
	<div class="row">
		<div class="col-md-10">
<h1>A propos de Courts</h1>
<h3>Qu'est-ce que "Courts" ?</h3>

<p>Courts, c'est <b>twitter, avec un but et une structure précise</b> : publier, consulter et répondre aux demandes de remplacement, entre confrères en Belgique.</p>

<h3>Pourquoi avoir créé Courts ?</h3>

<p>J'ai créé Courts en repensant à mes propres expériences il y a quelques années, lorsqu'il m'arrivait régulièrement d'intervenir "loco" l'un ou l'autre de mes confrères, auprès de divers organes et juridictions.</p>
<p>Férue de technologie déjà à l'époque, <b>je me souviens m'être souvent demandée pourquoi il n'existait pas un outil pratique et dynamique pour permettre à la demande de remplacement de rencontrer l'offre</b> importante ?</p>
<p>Un bagage technologique, marketing et entrepreneurial plus tard, je n'avais plus de raison de ne pas créer un tel outil : Courts était né.</p>

<h3>Est-ce un outil indépendant ?</h3>
<p><b>Oui</b>, tout à fait.<br>
Courts est indépendant de l'OBFG, de l'OVB, d'un quelconque autre organe lié, ainsi que d'une quelconque société ou association.</p>

<h3>L'outil gère-t-il la relation entre les confrères (dominus litis/loco) ?</h3>
<p><b>Non</b>.<br>
	Courts est un outil couplant de manière dynamique l'offre à la demande de remplacement, sans s'immiscer dans la suite de la relation entre confrères.</p>

<h3>Combien coûte Courts ?</h3>
<p><b>Courts est gratuit</b> pendant vos six premiers mois d'utilisation.<br>
Passée cette période, vous pourrez continuer à utiliser Courts en souscrivant à un abonnement mensuel de 7,90 EUR htva seulement.</p>

<br>
<div class="col-md-3 col-md-offset-9">
<div class="text-right">
	<%= image_tag("ProfilLaetitiaMassa.jpg", class: "img-rounded") %>
	<br><b>Laetitia Massa </b>
	<br>Votre ex-confrère
	<br>Fondatrice de Courts.be 
	<br><%= link_to "Linked in", "http://linkedin.com/in/laetitiamassa" %> | <%= link_to "Email ", "mailto:laetitiamassa@gmail.com" %>

</div>
	</div>
</div>

	
</div>