<div class="container">
	<h1>Condtitions générales d'utilisation </h1>
	
	<b><i><p>Pour faire court (n'est-ce pas), vous lirez ci-après que vous possédez, contrôlez et êtes responsables de ce que vous publiez sur Courts.be et que nous voudrions que votre expérience soit la plus agréable possible.  
		<br>Nous vous demandons par conséquent de traiter les services Courts et sa communauté avec respect. 
		<br>Si vous tombez sur quoi que ce soit qui contrevienne à cette règle de base, nous vous remercions d'avance de <%= link_to "nous en toucher un mot", "mailto:contact@courts.be" %>. </i></p></i></b>
	
	<p>Le site web <%= link_to "Courts.be", "http://courts.be" %> est la propriété de la société UPcetera SPRLS, une société de droit belge immatriculée auprès de la BCE sous le numéro BE 0536.351.008, représentée par Laetitia Massa, sa gérante.</p>
	
	<h2>Accès aux services</h2>
	
	<p>L'accès au site web Courts.be (ci-après "Courts") est sujet à l'acceptation des présentes conditions générales, que Courts se réserve le droit de modifier.  Toute modification desdites conditions générales pourra alors être communiquée à l'utilisateur par email.  Les règles et principes additionnels seront réputés faire partie intégrante des présentes conditions générales.  L'utilisateur est par conséquent invité à régulièrement se référer à la dernière version des présentes conditions, qui sera disponible à tout moment sur <%= link_to "Courts.be", "http://courts.be/legal" %>.</p>

	<p>Dans le cadre de l'utilisation du site web, l'utilisateur s'abstiendra de :
		<ul>
			<li>publier tout contenu ou lien qui serait illégal, dangereux ou impropre, constitutif de harcèlement, diffamatoire, vulgaire ou obsène, menaçant la vie privée d'un tiers, incitant à la haine ou répréhensible d'une quelconque autre manière ;</li>
			<li>publier tout contenu ou lien qui contreviendrait le droit national ou international applicable ;</li>
			<li>publier tout contenu ou lien qui enfreindrait un ou plusieurs brevets, marque déposée, secret commercial, droit de propriété intellectuelle ou tout autre droit de propriété appartenant à un tiers ;</li>
			<li>collecter et conserver des données personnelles relatives aux autres utilisateurs de Courts.</li>
		</ul>
	</p>

	<h2>Contenu du site web</h2>

	<p>Courts garantit que les éléments, services et fonctionalités mis à disposition de l'utilisateur respectent de manière substantielle les standards généralement acceptés pour autant qu'ils soient utilisés selon les instructions données, et que les logiciels et tous autres éléments créés par Courts et disponibles pour l'utilisateur respectent les droits des tiers et ne sont pas, de manière générale, illicites.<br>
	Courts mettra en oeuvre toutes ressources raisonables pour accomplir ledit résultat, étant entendu qu'il s'agit d'une obligation de moyen.</p>

	<p>Courts ne sera, en aucune circonstance, responsable de quelconque dommages directs et/ou indirects allégués par l'utilisateur dans le contexte de l'utilisation du site et/ou le son contenu mis à sa disposition. Aussi, Courts ne sera responsable qu'en cas de représentation frauduleuse ou de faute lourde qui lui serait directement, exclusivement et indubitablement imputable.</p>

	<p>L'utilisateur tient Courts indemne en cas de plainte, à l'occasion d'un des cas suivants :
		<ul>
			<li>la perte d'opportunités ou de revenus professionnels liée au fonctionnement ou disfonctionnement, ou l'utilisation ou la non-utilisation du site web, ou du contenu qui s'y trouve ou devrait s'y trouver ;</li>
			<li>l'intrusion illégale ou non-autorisée d'un tiers dans le serveur ou le site web de Courts ;</li>
			<li>la congestion temporaire de la bande passante ;</li>
			<li>l'effraction du service de connection internet pour des raisons hors du contrôle de Courts</li>
		</ul>
		<br>L'utilisateur reconnaît et accepte que les fonctionnalités offertes sur Courts sont sujettes à modifications, ce qui signifie que certaines fonctionnalités peuvent être supprimées et d'autres ajoutées, sans que l'utilisateur n'ait de droit acquis auxdites fonctionnalités.  De même, Courts décide à sa seule discrétion de l'inclusion ou du retrait d'un contenu particulier présenté sur le site web.
	</p>

	<h2>Droits de l'utilisateur</h2>

	<p>L'utilisateur détient la propriété de l'entièreté du contenu qu'il produit sur le site web, mais accorde par les présentes, à Courts, une licence non-exclusive, mondiale, à titre gratuit, transférable et sous-licenciable, d'utiliser, reproduire, mettre en cache, publier, afficher, distribuer, modifier, créer des contenus et produits dérivés, et conserver ledit contenu de l'utilisateur ainsi que permettre à des tiers de faire de même, en vue de fournir ou de promouvoir les services.</p>

	<h2>Limitation de garantie</h2>

	<p>Courts se réserve le droit, à tout moment et pour quelque motif que ce soit, d'altérer temporairement ou de mettre fin de manière permanente à tout ou partie de l'accès au site web, sans être tenu d'adresser un préavis à l'utilisateur.  Ce sera le cas, notamment, en cas de maintenance du site web ou de modification majeure des services ou des fonctionnalités offertes.  Courts ne pourra être tenu pour responsable de quelque perte ni dommage direct ou indirect que ce soit associé à une telle altération, suspension ou interruption d'accès au site web, quelqu'en soit le motif.</p>

	<h2>Propriété intellectuelle</h2>

	<p>L'information, les logos, dessins, marques, modèles, slogans, chartes graphique, etc. accessibles via le site web peuvent être protégés par des droits de propriété intellectuelle et/ou industrielle.  Sauf autorisation expresse émanant de Courts et/ou du tiers concerné, l'utilisateur n'est pas autorisé à modifier, reproduire, donner en location, emprunter, vendre, distribuer ou créer des produits dérivés basés en tout ou en partie sur des éléments contenus dans le site web.  Il n'est par conséquent pas autorisé (et ne peut autoriser des tiers) à copier, modifier, créer des produits dérivés, inverser le design, assembler ou tenter d'une quelconque manière de trouver le code source, vendre, accorder une licence ou sous-licence ou encore transférer de quelque manière, quelque droit que ce soit lié au site web et/ou à son contenu..</p>

	<h2>Données personnelles de l'utilisateur</h2>

	<p>La partie responsable du traitement de vos données à caractère personnel est Courts via UPcetera SPRLS.  Toute question relative à la collect et au traitement de vos données personnelles peut être adressée à <%= link_to "contact@courts.be", "mailto:contact@courts.be" %>.</p>
	
	<p>En transmettant vos données personnelles à Courts, vous nous autorisez expressément à traiter cette information pour les buts visés ci-après.</p>
	
	<p>Courts traite vos données en conformité avec les dispositions nationales et internationales, en ce compris la loi belge du 8 décembre 1992 relative à la protection de la vie privée en ce qui concerne le traitement des données à caractère personnelle, telle qu'amendée par la loi du 11 décembre 1998.</p>
	
	<p>Les données collectées sont incluses dans les programmes informatiques de Courts, et seront traitées en vue de :
	<ul>
		<li>la gestion des utilisateurs ;</li>
		<li>la gestion et l'organisation des services offerts ;</li>
		<li>l'amélioration de la qualité des services offerts ;</li>
		<li>l'information de l'utilisateur quant à de nouveaux services ou produits de Courts.
	</ul>
	</p>
	
	<p>Courts s'engage à protéger la sécurité des données personnelles de l'utilisateur et d'implémenter les procédures et technologies de sécurité nécessaires pour éviter l'accès, l'utilisation ou l'affichage non autorisé des données personnelles de l'utilisateur. Les données personnelles sont conservées dans des systèmes informatiques à accès restreint installés en un lieu surveillé.</p>

	<p>L'utilisateur a le droit d'exprimer, par écrit, son opposition au traitement de ses données personnelles à tout moment, en fournissant un motif légitime.</p>

	<p>Courts pourrait être sommée à révéler les données personnelles à la demande d'une autorité juridique/judiciaire ou par bonne foi dans le cours d'une action réputée requise afin de se conformer aux lois et régulations en vigueur.  Une telle révélation peut également avoir lieu dans l'hypothèse d'une action juridiciaire intentée contre Courts, en vue de protéger ou défendre les droits et intérêts de Courts.</p>

	<p>Par demande écrite datée et signée, l'utilisateur a également la possibilité, après avoir apporté la preuve de son identité (copie de sa carte d'identité ou de statuts, si nécessaire), d'obtenir gratuitement une attestation des données personnelles le concernant, ainsi que, le cas échéant, la correction d'éléments qui s'avèreraient incorrects, incomplets ou non pertinent.<br>
	Une copie des données personnelles de l'utilisateur lui sera envoyée dans les 45 jours calendrier de la réception de sa demande par Courts.</p>

	<h2>Droit applicable et juridictions compétentes</h2>

	<p>Tout litige relatif à Courts et/ou aux présentes conditions générales relève du droit belge, et de la compétence des cours et tribunaux de Bruxelles.</p>

	<br>
	<p class="text-right"><i>Version datée du 23 février 2014</i></p>

</div>