


  <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Abonnement annuel</h4>
                </div>
                <div class="panel-body text-center">
                    <h3 class="lead">
                        <strong>50,- EUR <small>htva**</small> / an</strong>
                        <br><small>Toutes les fonctionnalités, en mode <b>illimité</b></small>
                    </h3>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Demander des remplacements</li>
                    <li class="list-group-item">Saisir des opportunités de remplacement</li>
                    <li class="list-group-item">Poser des questions de procédure (*)</li>
                    <li class="list-group-item">Répondre à des questions de procédure (*)</li>
                </ul>
                <div class="panel-footer text-center">
                	<div class="row">
                		<p><b>Sélectionnez votre moyen de paiement</b></p>
                		<div class="col-md-6">
                			<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Payer par virement</button>
                			<%= render "subscribers/modalVirement" %>
                		</div>
                		
                    		<%= render "subscribers/form" %>
                    	</div>
                    
                </div>
            </div>
            <h3 class="text-center"><small>Une question ? <%= link_to "contact@courts.be", "mailto:contact@courts.be" %></small></h3>
            <p class="text-center">
            	* inclus gratuitement durant la phase de test
            	<br>** <i>Pas de TVA applicable - régime de franchise</i>.
            </p>
            <h3 class="text-center"><small>Et, oui : vous recevrez ensuite une facture :)</small></h3>

        </div>

