<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Payer par virement bancaire</h4>
      </div>
      <div class="modal-body text-left">
        <h4 class="text-center">Voici les détails du virement que vous pouvez introduire.
        <br><small><b>Attention : </b>Votre abonnement sera activé dès réception de votre paiement. 
        <br>Vous pouvez néanmoins envoyer la preuve de paiement par email à <%= link_to "contact@courts.be", "mailto:contact@courts.be" %> si vous souhaitez accélerer l'activation de votre abonnement.</small>
    	</h4>
    	<hr>
    	
        	<b>Montant :</b> 50,- EUR
		    <br><b>Communication :</b> <%= current_user.email %> - Courts Yearly
		    <br><b>Bénéficiaire :</b> UPcetera SPRL
		    <br><b>IBAN :</b> BE10 0017 0156 4704
		    <br><b>BIC :</b> GEBABEBB
		    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>