<nav class="navbar navbar-inverse navbar-fixed-bottom text-center menu_footer" role="navigation">
  <%= link_to new_court_path do %>  
<span class="fa-stack fa-3x">
  <%= content_tag(:i, "", :class => "fa fa-circle fa-stack-2x fa-primary" ) %>
  <i class="fa fa-university fa-stack-1x fa-inverse"></i>
</span>
<% end %>

</nav>