@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

$body-bg:         					#ecf0f1;
$font-family-sans-serif:   	'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:             40px;
$navbar-inverse-bg:         #c0392b;
$navbar-default-brand-color: #c0392b;
$brand-primary:            	#c0392b;
$brand-info:				#5c97bf;
$jumbotron-bg:             	white;

@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.splash {
    background-image: url(image-path('mobile_home_bg.jpg'));
    background-align: center;
    background-size: cover;
    background-repeat: no-repeat;
	margin: none;
    
    margin-bottom: -120px;
	min-height: 500px;  
}

.splash-filter {
    background-color: rgba(0,0,0, 0.4);
    min-height: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10%;
}

.more_padding_bottom {
    padding-bottom: 40px;
}

.title {
    padding-bottom: 240px;  
}

.reduced-padding-left {
    padding-left: 5px;
}

.reduced-padding-right {
    padding-right: 5px;
}

.courts_mobile_baseline {
	color: #c0392b;
	margin-bottom: 30px;
    text-shadow: 0 2px 4px #000000;
}

.menu_footer {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: transparent;
	border-top-color: transparent;
}

.fa-primary {
	color: #c0392b;
}

.shrink {
	font-size: 1em;
}

.shrinker {
	font-size: 0.7em;
}

.no-padding {
	padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}


.blue {
		color: #34495e;
}

.user-bg {
	background-color: #c0392b;
	padding: 10px 0 0 0;
}

.user-padding-bottom {
    padding-bottom: 5px;
}

.grey {
	color: #95a5a6;
}

.no-margin {
	margin-bottom: 0px;
}

.more-padding {
	padding-top: 13px;
}

.white {
	color: white;
}

.spacing-form {
	margin-top: 50px;
}

.input-form-spacing {
    margin-bottom: 5px;
}

.btn-form-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-form-spacing {
    margin-bottom: 20px;
}

.reset-title-form-spacing {
    margin-bottom: 40px;
    padding: 0 15px;
}

.form-opacity {
    opacity: 0.8;
}

.new-court {
	background-color: rgba(229,175,170, 0.1);
}

.margins-profile-menu {
	padding-top: 30px;
	padding-bottom: 20px;
}

.fa-success {
	color: #5cb85c;
}

.fa-warning {
	color: #f0ad4e;
}

.fa-danger {
	color: #d9534f;
}

.fa-primary {
	color: #c0392b;
}

.padding-left-right {
    padding-left: 15px;
    padding-right: 15px;
}

.less-padding-top {
   margin-top: -23px;
}

.no-margin-invite-top {
    margin-top: -20px;
}

.notice-spacing {
    margin-top: 0px;
    margin-bottom: -20px;
}

.court_message {
    margin-top: 100px;
}

.court_message_logged_out {
    opacity: 0.89;
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 40px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
    
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #34495e;
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-inverse #slidemenu {
        background: #34495e;
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        background: #34495e;
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
}
@media (min-width:768px) { 
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}