<% if current_user.locos.any? or current_user.courts.any? %>
			<ul class="list-group">
				<li class="list-group-item">
					<h4><small><%= t("welcome.your_future_courts") %></small></h4>
				</li>
				<% @courts.sort_by(&:date_display).each do |court| %>
					<% if court.current %>
						<% if court.locos.any? && court.locos.last.user == current_user %>
							<li class="list-group-item">
								<div class="row with-padding-left with-padding-right">
									<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
									<span class="label label-info pull-right no-bold">loco</span>
								</div>
							</li>
						<% end %>
						<% if court.user == current_user %>
							<li class="list-group-item">
								<div class="row with-padding-left with-padding-right">
									<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
									<span class="label label-info pull-right no-bold">dominus litis</span>
								</div>
							</li>
						<% end %>
					<% end %>
				<% end %>
			</ul>
		<% end %>
