<% if current_user.courts.any? or current_user.locos.any? %>
				<li class="list-group-item">
					<h4><small><%= t("welcome.your_past_courts") %></small></h4>
				</li>

				<% @courts.sort_by(&:date_display).each do |court| %>
					<% if court.past %>
						<% if current_user == court.user %>
							<li class="list-group-item">
								<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
											<span class="label label-info no-bold pull-right">dominus litis</span>
							</li>
						<% end %>

						<% if court.locos.any? && current_user == court.locos.last.user %>
							<li class="list-group-item">
								<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
											<span class="label label-info no-bold pull-right">loco</span>
							</li>
						<% end %>
					<% end %>
				<% end %>

			<% end %>